.div1 {
    background-color: aqua;
    height: 50px;
}

.div2 {
    background-color: blueviolet;
    color: white;
    height: 50px;
}

.div3 {
    background-color: cornflowerblue;
    color: white;
    height: 50px;
}

.div4 {
    background-color: chartreuse;
    height: 50px;
}